#!/usr/bin/env python
PACKAGE = "px4ctrl"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# Position proportional gain
gen.add("Kp0", double_t, 0, "Position gain Kp X", 4.8, 0.0, 30.0)
gen.add("Kp1", double_t, 0, "Position gain Kp Y", 4.8, 0.0, 30.0)
gen.add("Kp2", double_t, 0, "Position gain Kp Z", 4.0, 0.0, 30.0)

# Integral gain
gen.add("Ki0", double_t, 0, "Integral gain Ki X", 0.1, 0.0, 30.0)
gen.add("Ki1", double_t, 0, "Integral gain Ki Y", 0.1, 0.0, 30.0)
gen.add("Ki2", double_t, 0, "Integral gain Ki Z", 0.0, 0.0, 30.0)

# Velocity / derivative gain
gen.add("Kd0", double_t, 0, "Velocity gain Kd X", 3.4, 0.0, 30.0)
gen.add("Kd1", double_t, 0, "Velocity gain Kd Y", 3.4, 0.0, 30.0)
gen.add("Kd2", double_t, 0, "Velocity gain Kd Z", 3.0, 0.0, 30.0)

exit(gen.generate(PACKAGE, "px4ctrl", "PID"))
