<launch>
  <arg name="config_file"
       default="$(dirname)/../../config/lidar/adaptive_circle.yaml"/>

  <node pkg="px4ctrl"
        type="adaptive_circle_trajectory.py"
        name="adaptive_circle"
        output="screen"
        required="true">
    <rosparam command="load" file="$(arg config_file)"/>
  </node>
</launch>
