<?xml version="1.0"?>
<model>
  <name>3DR Iris with RealSense camera and Livox Mid-360</name>
  <version>1.0</version>
  <sdf version="1.5">iris_realsense_mid360.sdf</sdf>

  <author>
    <name>Fast-Drone Maintainers</name>
  </author>

  <description>
    3DR Iris with a forward RealSense camera and a direct Mid-360 simulation model.
  </description>
</model>
