<launch>
  <arg name="config_file" default="$(find px4ctrl)/config/offboard_fsm.yaml"/>
  <arg name="odom_topic" default="/LIVO2/imu_propagate"/>

  <node pkg="px4ctrl"
        type="offboard_fsm_node"
        name="px4_offboard_fsm"
        output="screen"
        required="true">
    <rosparam command="load" file="$(arg config_file)"/>
    <!-- Allow one profile YAML to serve multiple localization modes. -->
    <param name="topics/livo_odometry" value="$(arg odom_topic)"/>
  </node>
</launch>
