<?xml version="1.0"?>
<model>
  <name>XTDrone 32-beam GPU LiDAR for FAST-LIVO2</name>
  <version>1.0</version>
  <sdf version="1.5">3d_gpu_lidar_fastlivo.sdf</sdf>

  <author>
    <name>Fast-Drone Maintainers</name>
  </author>

  <description>
    XTDrone's 32-beam GPU LiDAR configured at 10 Hz for FAST-LIVO2.
  </description>
</model>
