<?xml version="1.0"?>
<model>
  <name>3DR Iris with RealSense camera and XTDrone GPU LiDAR</name>
  <version>1.0</version>
  <sdf version="1.5">iris_realsense_gpu_lidar.sdf</sdf>

  <author>
    <name>Fast-Drone Maintainers</name>
  </author>

  <description>
    3DR Iris with a forward RealSense camera and XTDrone's 32-beam GPU LiDAR.
  </description>
</model>
